html,
body {
    width:100%;
    height: 100%;

    margin:0;
    padding:0;

    overflow: hidden;
}

.ymrs-text-white {
    color: #FAFAFA;
}

#app_container {
    margin-left: 0;
    margin-right: 0;
    height: 100%;
}

#main_nav {
    background-color: #212121;
    max-width: 0;
    transition: max-width 0.1s;
}

#main_nav.open {
    max-width: 45vw;
    flex: 1 0 45vw;
    transition: max-width 0.25s ease-in;
}

#main_nav a {
    align-items: center;
    color: #FAFAFA;
    display: flex;
    justify-content: center;
    flex: 1;
    flex-direction: column;
    min-width: 45vw;
    pointer-events: none;
    text-decoration: none;
}

#main_nav.open a {
    pointer-events: auto !important;
}

#main_nav hr {
    background: #333;
    background: -webkit-gradient(linear, left top, right top, color-stop(0%, hsla(0, 0%, 0%, 0)), color-stop(50%, hsla(0, 0%, 0%, .50)), color-stop(100%, hsla(0, 0%, 0%, 0)));
    background: -webkit-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .50) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -moz-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .50) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -ms-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .50) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: -o-linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .50) 50%, hsla(0, 0%, 0%, 0) 100%);
    background: linear-gradient(left, hsla(0, 0%, 0%, 0) 0%, hsla(0, 0%, 0%, .50) 50%, hsla(0, 0%, 0%, 0) 100%);
    border: 0;
    height: 1px;
    margin: 8px 0;
    min-width: 45vw;
}

#main_app {
    background-color: red;
    min-width: 100vw !important;
}

#app_header {
    background-color: #1A237E;
    height: 60px;
    overflow: hidden;
    padding:16px;
}

#content {
    background-color: #FAFAFA;
    height: calc(100% - 120px);
    overflow: hidden;
}

#mobile_footer {
    background-color: #1A237E;
    height: 60px;
    overflow: hidden;
}